<%= form_with(model: user, local: true) do |form| %>
  <% render 'shared/errors', obj: user %>

  <div class="form-group">
    <%= form.text_field :email, id: :user_email, class: 'form-control', placeholder: true %>
  </div>

  <div class="form-group">
    <%= form.password_field :password, class: 'form-control', placeholder: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :name, id: :user_name, class: 'form-control', placeholder: true%>
  </div>

  <div class="form-group-first-child display-flex">
    <%= form.date_select :birthday, id: :user_birthday, :start_year => 1920, :end_year => Date.today.year  %>
  </div>

  <div class="actions mt-lg">
    <%= form.submit class: "btn btn-inverse btn-sm" %>
  </div>
<% end %>
