
<div class="row row-eq-height">
  <div class="col-lg-3">
    <% @events.each do |event| %>
    <section class="widget user-profile">
      <div class="widget-body">
        <div class="widget-top-overflow text-white">
          <div class="height-250 overflow-hidden">
            <%= image_tag event.poster.url, class: "img-fluid" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-xs-center">
            <div class="post-user mt-lg">
              <h5 class="fw-normal"><%= event.name %></h5>
              <p>
                <%= event.desc %>
              </p>
              <span class="label label-danger">
                <%= event.price %>zł
              </span>
              <div class="mt-lg mb-lg">
                <i class="fa fa-calendar fa-fw mr-xs"></i> <%= event.date %>
              </div>

              <%= link_to 'Show', event, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %>
              <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% end %>
  </div>
</div>

