<div class="row">
  <div class="col-md-12">
    <%= form_tag events_filter_path, method: "post" do %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group-first-child display-flex mb-lg">
            <%= date_select "from", "date", class: "form-control", selected: @from %>
          </div>
        </div>
        <div class="col-md-1 text-lg-center">
          <span class="form-control-static">
            -
          </span>
        </div>
        <div class="col-md-4">
          <div class="form-group-first-child display-flex mb-lg">
            <%= date_select "to", "date", class: "form-control", selected: @to %>
          </div>
        </div>
        <div class="col-md-3">
          <%= submit_tag "Filter", name: nil, class: "btn btn-primary" %>
          <% if request.post? %>
            <%= link_to t('events.index.all'), events_path, class: "btn btn-default"  %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row row-eq-height">
  <% if @events.empty? %>
    <div class="col-lg-3">
      <div class="alert alert-info">
        <%= t('events.index.empty') %>
      </div>
    </div>
  <% end %>
  <% @events.each do |event| %>
    <div class="col-lg-3">
      <%= render 'widget', event: event %>
    </div>
  <% end %>
</div>

