<%= form_with(model: ticket, local: true) do |form| %>
  <%= render 'shared/errors', obj: ticket %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :ticket_price %>
  </div>

  <div class="field">
    <%= form.label :seat %>
    <%= form.number_field :seat, id: :ticket_seat %>
  </div>

  <div class="field">
    <%= form.label :want_delete %>
    <%= form.check_box :want_delete, id: :ticket_want_delete %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :ticket_user_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :ticket_event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
