<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @ticket.seat %>
</p>

<p>
  <strong>Want delete:</strong>
  <%= @ticket.want_delete %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event.name %>
  <%= @ticket.event.date %>
</p>

<%= link_to 'Back', tickets_path %>
