<nav class="page-controls navbar navbar-dashboard">
  <div class="container">
    <!-- .navbar-header contains links seen on xs & sm screens -->
    <div class="navbar-header">

      <a class="navbar-brand" href="<%= root_url %>">
        <i class="fa fa-circle text-gray mr-n-sm"></i>
        <i class="fa fa-circle text-warning"></i>
        &nbsp;
        ticketpro
        &nbsp;
        <i class="fa fa-circle text-warning mr-n-sm"></i>
        <i class="fa fa-circle text-gray"></i>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-xs-left ml-lg">
        <% if is_admin? %>
          <li class="nav-item">
            <%= link_to new_event_path, class: "nav-link" do  %>
              <i class="fa fa-plus"></i> &nbsp; <%= t('nav.events.new') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to tickets_path, class: "nav-link" do  %>
              <i class="fa fa-ticket"></i> &nbsp; <%= t('nav.tickets') %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <% if logged_in? %>
        <li class="nav-item">
          <a href="<%= profile_path %>" class="dropdown-toggle dropdown-toggle-notifications nav-link" id="notifications-dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-xs-left">
              <%= image_tag "someone.png", class: "img-circle" %>
            </span>
            &nbsp;
            <%= @current_user.name %>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-money"></i> &nbsp; <%= @current_user.balance %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to logout_path, class: "nav-link", method: :delete do  %>
            <i class="fa fa-sign-out"></i> &nbsp; <%= t('nav.logout') %>
          <% end %>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>">
            <i class="fa fa-sign-in"></i> &nbsp; <%= t('nav.login') %>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
