<!DOCTYPE html>
<html>
  <head>
    <title>ZpwRubyProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/toastr' %>
  <%= render 'layouts/top-nav' %>

  <div class="content-wrap">
    <main id="content" class="content" role="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </div>
  </body>
</html>
